# Instrucciones 

 * Descargar el archivo de Excel llamado “Datos.xls” ubicado en la sección de "Bienvenida" del curso.  

* Leer atentamente las preguntas. 

* Realizar cálculos, desarrollos y análisis en base al archivo.

* Las respuestas que debes seleccionar están asociadas a los códigos o resultados que obtendrás del trabajo con el archivo.

In [112]:
# import library to work with dataframes
import pandas as pd

In [113]:
# load excel file
df_hospitales = pd.read_excel("../data/03_Datos.xls", sheet_name="Hospitales")

In [67]:
df_hospitales.head()

,Nombre Servicio de Salud,Nombre Establecimiento,Área Cuidados Intensivos Adultos,Área Cuidados Intermedios Adulto,Total Camas Críticas,Máxima cantidad de camas a aumetar,Costo de instalar una cama [MM$],Costo de operación anual de una cama [MM$],Costo diario GRD1 [MM$],Costo diario GRD2 [MM$],Costo diario GRD3 [MM$],Costo diario GRD4 [MM$],Costo diario GRD5 [MM$],Costo diario GRD6 [MM$],Costo diario GRD7 [MM$],Costo diario GRD8 [MM$],Costo diario GRD9 [MM$],Costo diario GRD10 [MM$]
0,Metropolitano Norte ...,Complejo Hospitalario San José,11,33,44,10,1407,47.2,0.593,0.509,0.367,0.492,0.524,0.405,0.571,0.474,0.498,0.305
1,Metropolitano Occidente ...,Hospital Adalberto Steeger (Talagante),6,11,17,5,1263,62.1,0.493,0.357,0.429,0.382,0.469,0.386,0.543,0.362,0.564,0.333
2,Metropolitano Occidente ...,Hospital Dr. Félix Bulnes Cerda,3,6,9,5,1310,65.9,0.580,0.325,0.375,0.409,0.561,0.362,0.328,0.314,0.536,0.436
3,Metropolitano Occidente ...,Hospital San Juan de Dios,29,47,76,30,1066,39.2,0.482,0.554,0.564,0.331,0.438,0.509,0.544,0.410,0.441,0.359
4,Metropolitano Occidente ...,Instituto Traumatológico Dr. Teodoro Gebauer,12,6,18,5,1433,55.5,0.407,0.449,0.468,0.433,0.573,0.392,0.409,0.391,0.418,0.334

1 ¿Cuál de las siguientes opciones corresponde al código que permite calcular el total de camas críticas para cada uno de los servicios de salud?

In [115]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum()

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Central                                                105
Metropolitano Norte                                                   44
Metropolitano Occidente                                              120
Metropolitano Oriente                                                137
Metropolitano Sur                                                    173
Metropolitano Sur Oriente                                            127

2.¿Cuáles de los siguientes servicios de salud son los tres servicios que tienen más camas críticas?  

Selecciona las tres respuestas que consideres correctas.

In [116]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum().sort_values(by="Total Camas Críticas", ascending=False)

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Sur                                                    173
Metropolitano Oriente                                                137
Metropolitano Sur Oriente                                            127
Metropolitano Occidente                                              120
Metropolitano Central                                                105
Metropolitano Norte                                                   44

In [118]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum().nlargest(3, "Total Camas Críticas")

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Sur                                                    173
Metropolitano Oriente                                                137
Metropolitano Sur Oriente                                            127

3.¿Cuál de los siguientes códigos permite calcular el costo promedio diario de atención para el GRD4?

In [119]:
df_hospitales["Costo diario GRD4 [MM$]"].mean()

np.float64(0.4484761904761904)

In [120]:
#Load other tab
df_info = pd.read_excel("../data/03_Datos.xls", sheet_name="Información Histórica")

In [121]:
df_info.head()

,Número de llegada,Hospital al que llega,GRD,Día de llegada,Día de salida,Estadia
0,1,Instituto Traumatológico Dr. Teodoro Gebauer,GRD3,1,4,3
1,2,Hospital Clínico San Borja-Arriarán,GRD7,1,5,4
2,3,Hospital Dr. Luis Tisné B.,GRD7,1,5,4
3,4,Hospital Dr. Exequiel González Cortés,GRD10,1,11,10
4,5,Hospital Barros Luco Trudeau,GRD6,1,6,5

In [72]:
df_info = df_info.drop("Hospital al que llega", axis=1)

In [73]:
data = df_info[(df_info["Día de llegada"] >= 415) & (df_info["Día de llegada"] <= 424)]

In [74]:
df_info.head()

   Número de llegada    GRD  Día de llegada  Día de salida  Estadia
0                  1   GRD3               1              4        3
1                  2   GRD7               1              5        4
2                  3   GRD7               1              5        4
3                  4  GRD10               1             11       10
4                  5   GRD6               1              6        5

5. ¿Cuál de las siguientes alternativas indica el promedio del costo diario de resolución de los 3 GRDs más costos en clínica privada?

In [75]:
df_grd = pd.read_excel("../data/03_Datos.xls", sheet_name="GRD")
df_grd.head()

  ID GRD    Nombre GRD  Costo resolución en Clínica Privada [MM$]
0   GRD1     Coronario                                      7.917
1   GRD2      Hepático                                      3.417
2   GRD3  Respiratorio                                      2.915
3   GRD4         Renal                                      6.188
4   GRD5   Neurológico                                      6.782

In [79]:
df_largest =  df_grd.nlargest(3, "Costo resolución en Clínica Privada [MM$]")

In [80]:
df_largest["Costo resolución en Clínica Privada [MM$]"].mean()

np.float64(7.538333333333334)

7. ¿Cuál de las siguientes alternativas corresponde a la diferencia entre el menor y el mayor costo de operación anual de una cama crítica en el sistema de salud (considerando todos los servicios de salud)?

In [81]:
df_hospitales.head()

,Nombre Servicio de Salud,Nombre Establecimiento,Área Cuidados Intensivos Adultos,Área Cuidados Intermedios Adulto,Total Camas Críticas,Máxima cantidad de camas a aumetar,Costo de instalar una cama [MM$],Costo de operación anual de una cama [MM$],Costo diario GRD1 [MM$],Costo diario GRD2 [MM$],Costo diario GRD3 [MM$],Costo diario GRD4 [MM$],Costo diario GRD5 [MM$],Costo diario GRD6 [MM$],Costo diario GRD7 [MM$],Costo diario GRD8 [MM$],Costo diario GRD9 [MM$],Costo diario GRD10 [MM$]
0,Metropolitano Norte ...,Complejo Hospitalario San José,11,33,44,10,1407,47.2,0.593,0.509,0.367,0.492,0.524,0.405,0.571,0.474,0.498,0.305
1,Metropolitano Occidente ...,Hospital Adalberto Steeger (Talagante),6,11,17,5,1263,62.1,0.493,0.357,0.429,0.382,0.469,0.386,0.543,0.362,0.564,0.333
2,Metropolitano Occidente ...,Hospital Dr. Félix Bulnes Cerda,3,6,9,5,1310,65.9,0.580,0.325,0.375,0.409,0.561,0.362,0.328,0.314,0.536,0.436
3,Metropolitano Occidente ...,Hospital San Juan de Dios,29,47,76,30,1066,39.2,0.482,0.554,0.564,0.331,0.438,0.509,0.544,0.410,0.441,0.359
4,Metropolitano Occidente ...,Instituto Traumatológico Dr. Teodoro Gebauer,12,6,18,5,1433,55.5,0.407,0.449,0.468,0.433,0.573,0.392,0.409,0.391,0.418,0.334

In [82]:
df_hospitales["Costo de operación anual de una cama [MM$]"].max()

np.float64(66.1)

In [83]:
df_hospitales["Costo de operación anual de una cama [MM$]"].min()

np.float64(36.6)

In [84]:
df_hospitales["Costo de operación anual de una cama [MM$]"].max() - df_hospitales["Costo de operación anual de una cama [MM$]"].min()

np.float64(29.499999999999993)

8. ¿Cuál de las siguientes alternativas indica la cantidad de pacientes que llegaron a la red de salud el día en que llegaron más pacientes?

In [122]:
df_info.groupby("Día de llegada").size().sort_values(ascending=False).nlargest(1)

Día de llegada
420    183
dtype: int64

9. ¿Cuál de las siguientes alternativas corresponde al código que permite determinar el promedio del total de camas críticas de cada servicio de salud de la red?

In [100]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").mean()

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Central                                              35.00
Metropolitano Norte                                                44.00
Metropolitano Occidente                                            30.00
Metropolitano Oriente                                              34.25
Metropolitano Sur                                                  34.60
Metropolitano Sur Oriente                                          31.75

10. ¿Cuál de las siguientes alternativas corresponde al código para determinar el costo de instalar las 3 camas nuevas menos costosas en cada servicio de salud?

In [ ]:
df_hospitales[["Nombre Servicio de Salud", "Costo de instalar una cama [MM$]"]].groupby("Nombre Servicio de Salud").min() * 3

                                                    Costo de instalar una cama [MM$]
Nombre Servicio de Salud
Metropolitano Central                                                           3768
Metropolitano Norte                                                             4221
Metropolitano Occidente                                                         3198
Metropolitano Oriente                                                           3168
Metropolitano Sur                                                               3153
Metropolitano Sur Oriente                                                       3084

In [109]:
costo_camas = df_hospitales[[
    "Nombre Servicio de Salud", "Costo de instalar una cama [MM$]"
]].groupby("Nombre Servicio de Salud").min()
costo_camas

                                                    Costo de instalar una cama [MM$]
Nombre Servicio de Salud
Metropolitano Central                                                           1256
Metropolitano Norte                                                             1407
Metropolitano Occidente                                                         1066
Metropolitano Oriente                                                           1056
Metropolitano Sur                                                               1051
Metropolitano Sur Oriente                                                       1028

In [110]:
costo_camas["costo 3 camas nuevas"] = costo_camas["Costo de instalar una cama [MM$]"] * 3

In [111]:
costo_camas

,Costo de instalar una cama [MM$],costo 3 camas nuevas
Nombre Servicio de Salud,,
Metropolitano Central,1256,3768
Metropolitano Norte,1407,4221
Metropolitano Occidente,1066,3198
Metropolitano Oriente,1056,3168
Metropolitano Sur,1051,3153
Metropolitano Sur Oriente,1028,3084